fastapi
uvicorn[standard]
pydantic
python-dotenv
httpx
google-cloud-firestore
google-auth

aiohttp
requests
beautifulsoup4
pandas
nest_asyncio

joblib

reportlab

#pymorphy3
#sentence_transformers
#rank_bm25
#numpy